@import "tailwindcss";

body {
  margin: 0;
}

#root {
  width: 100%;
  min-height: 100vh;
}

[dir="rtl"] {
  text-align: right;
}

[dir="rtl"] .rtl\:text-left {
  text-align: left;
}

[dir="rtl"] .rtl\:text-right {
  text-align: right;
}

[dir="rtl"] .rtl\:ml-auto {
  margin-left: auto;
}

[dir="rtl"] .rtl\:mr-auto {
  margin-right: auto;
}

[dir="rtl"] .rtl\:space-x-reverse > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 1;
}